project_name: mono
restore_ckpt: "./checkpoints/mix_all.pth"
# restore_ckpt: "/data2/cjd/mono_fusion/checkpoints/sceneflow.pth"
logdir: './checkpoints/mono/'
encoder: 'vitl'
batch_size: 2
train_datasets: ['mono']
lr: 1e-4
wdecay: 1e-5
total_step: 1000000
save_frequency: 20000
save_path: ./checkpoints/mono/
val_frequency: 20000
image_size: [320, 736]
train_iters: 22
valid_iters: 32
val_dataset: 'mono'
corr_implementation: "reg"
corr_levels: 2
corr_radius: 4
n_downsample: 2
n_gru_layers: 3
hidden_dims: [128, 128, 128]
max_disp: 32
saturation_range: [0.7, 1.3]
do_flip: False
spatial_scale: [-0.2, 0.5]
noyjitter: True
num_gpu: 1
seed: 655
